<%- include('partials/header.ejs') %>

    <!-- VIEW NOTES -->
    <div class="card text-center mt-4 mb-4 more-curve">
        
        <% if (notes != undefined && notes.length > 0) { %>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                    <% for( let index = 0; index < notes.length; index++ ) { %>
                        <li class="nav-item">
                            <% if (index == showInd) { %>
                                <a class="nav-link active" aria-current="true" href=<%= "/" + index %> ><%= notes[index].name %></a>
                            <% } else {%>
                                <a class="nav-link" aria-current="true" href=<%= "/" + index %> ><%= notes[index].name %></a>
                            <% } %> 
                        </li>
                    <% } %> 
            </ul>
        </div>
        <% } %>
        <div class="card-body">
            <% if (notes != undefined && notes[showInd] != undefined) { %>
                <h5 class="card-title"><%= notes[showInd].name %></h5>
                <p class="card-text mb-2"><%= notes[showInd].content %></p>
                <form action=<%= "/delete/" + notes[showInd]._id %> method="post">
                    <a href=<%= "/edit/" + showInd %>  class="btn btn-secondary more-curve me-2">Edit</a>
                    <button type="submit" class="btn btn-outline-danger more-curve">Delete</button>
                </form>
            <% } else {%>
                <h5 class="card-title">No notes :(</h5>
                <p class="card-text mb-2">Create a new one by clicking the button below</p>
            <% } %>
        </div>
    </div>

    <a href="/new" class="btn btn-success btn-lg more-curve">New note</a>

<%- include('partials/footer.ejs') %>